{% extends 'base.html.twig' %}

{% block title %}Editer une tache{% endblock %}

{% block body %}
    <h1>Editer une tache</h1>
    {{ include('task/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
